header {
    background-color: var(--color-font-orange);
    height: 70px;
    display: flex;
    align-items: center;
}

h1 {
    color: var(--color-font-blue);
    font-size: 24px;
    margin-left: 20px;
}